/* ================= THEME TRANSITION ================= */
body,
.nav-menu,
.search,
.search input,
.search button,
.book-card,
.book-info,
.pop-up-container,
footer,
.nav-menu li a,
.bg-header-galeri,
.pop-up-container input,
select.komponen-advanced {
  transition:
    background 0.4s ease,
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease;
}

.dark-mode {
  --text: #000000;
  --body-bg: #0f172a;
  --overlay-dark: rgba(0, 0, 0, 0.6);
  --overlay-dark-light: rgba(255, 255, 255, 0.105);
  --overlay-dark-strong: rgba(0, 0, 0, 0.75);
  --glass-white: rgba(255, 255, 255, 0.06);
  --glass-border: rgba(255, 255, 255, 0.12);
  --glass-hover: rgba(255, 255, 255, 0.12);
  --glass-active: rgba(255, 255, 255, 0.18);
  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --search-bg: rgba(0, 0, 0, 0.203);
  --search-focus: rgba(0, 0, 0, 0.53);
  --search-btn: rgba(0, 0, 0, 0.998);
  --search-btn-hover: rgb(255, 255, 255);
  --search-text: rgba(255, 255, 255, 0.855);
  --search-text-hover: rgba(0, 0, 0, 0.814);
  --shadow-dark: rgba(0, 0, 0, 0.5);
  --shadow-strong: rgba(0, 0, 0, 0.7);
  --shadow-card: rgba(0, 0, 0, 0.201);
  --shadow-hover: rgba(0, 0, 0, 0.6);
  --bg-card: #2a2a2a;
  --gradient-blue: #0f172a;
  --gradient-blue-light: #1e293b;
  --gradient-cyan: #0f766e;
  --gradient-teal: #134e4a;
  --gradient-card-1: #1e293b;
  --gradient-card-2: #0f766e;
  --popup-bg: rgba(9, 9, 9, 0.234);
  --popup-input: rgba(255, 255, 255, 0.08);
  --popup-input-hover: rgba(255, 255, 255, 0.14);
  --popup-border: rgba(255, 255, 255, 0.12);
  --popup-text: #ffffff;
  --popup-placeholder: rgba(255, 255, 255, 0.45);
  --popup-btn-bg: #ffffff;
  --popup-btn-text: #000000;
  --popup-option-bg: #1f1f1f;
  --popup-option-text: #ffffff;
  --footer-bg: #020617;
}
:root {
  --text: #000000;
  --body-bg: #ffffff;
  --overlay-dark: rgba(0, 0, 0, 0.4);
  --overlay-dark-light: rgba(0, 0, 0, 0.13);
  --overlay-dark-strong: rgba(0, 0, 0, 0.5);
  --glass-white: rgba(255, 255, 255, 0.08);
  --glass-border: rgba(255, 255, 255, 0.2);
  --glass-hover: rgba(255, 255, 255, 0.15);
  --glass-active: rgba(255, 255, 255, 0.25);
  --text-primary: #000000;
  --text-secondary: #232222ce;
  --search-bg: rgba(3, 3, 3, 0.383);
  --search-focus: #ffffff57;
  --search-btn: rgba(255, 255, 255, 0.828);
  --search-btn-hover: #000000a6;
  --shadow-dark: rgba(0, 0, 0, 0.404);
  --shadow-strong: rgba(0, 0, 0, 0.5);
  --shadow-card: rgba(0, 0, 0, 1);
  --shadow-hover: rgba(0, 0, 0, 0.4);
  --search-text: rgba(0, 0, 0, 0.703);
  --search-text-hover: rgba(255, 255, 255, 0.839);
  --bg-card: #fffdfd;
  --gradient-blue: #1e3a8a;
  --gradient-blue-light: #2563eb;
  --gradient-cyan: #06b6d4;
  --gradient-teal: #14b8a6;
  --gradient-card-1: #1f3c88;
  --gradient-card-2: #00bcd4;
  --popup-bg: rgba(255, 255, 255, 0.11);
  --popup-input: rgba(0, 0, 0, 0.162);
  --popup-input-hover: rgba(255, 255, 255, 0.012);
  --popup-border: rgba(246, 246, 246, 0.08);
  --popup-text: #ffffff;
  --popup-placeholder: rgba(255, 255, 255, 0.45);
  --popup-btn-bg: #000000d5;
  --popup-btn-text: #ffffff;
  --popup-option-bg: #ffffff;
  --popup-option-text: #111827;
  --footer-bg: rgba(0, 0, 0, 0.897);
}

/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* ================= BODY ================= */
body {
  background: var(--body-bg);
  height: 100vh;
}
.bg-slide {
  height: 100svh;
  background-image: url(../src/bg1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}
.bg-trans {
  position: absolute;
  inset: 0;
  background: var(--overlay-dark);
}
/* ================= HEADER ================= */
.navbar {
  position: relative;
  width: 100%;
  padding: 40px;
  z-index: 10;
}
.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 200px;
}
nav {
  width: 100%;
  order: 3;
}
.nav-menu {
  list-style: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 34px 25px;
  background: var(--glass-white);
  backdrop-filter: blur(20px);
  border-left: 1px solid var(--glass-border);
  transition: right 0.4s ease;
  z-index: 9;
}
.judul-nav {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  padding: 9px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.772);
}
.admin-menu {
  margin-top: auto;
}
.nav-menu li a {
  display: flex;
  margin-bottom: 10px;
  padding: 12px 15px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-menu li a:hover {
  background: var(--glass-hover);
  transform: translateX(5px);
}
.nav-menu li a.active {
  background: var(--glass-active);
}

/* ================= HAMBURGER ================= */
.nav-toggle {
  display: none;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 10;
}
.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 10px;
  transition: 0.3s ease;
}
.nav-toggle:checked~nav .nav-menu {
  right: 0;
}
#navToggle:checked~.hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
#navToggle:checked~.hamburger span:nth-child(2) {
  opacity: 0;
}
#navToggle:checked~.hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.header-content {
  text-align: left;
  color: white;
}
.nav-overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-dark);
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.nav-toggle:checked~.nav-overlay {
  opacity: 1;
  pointer-events: auto;
}

/* ================= MAIN ================= */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  animation: fadeIn 1s ease;
}

/* ================= SEARCH ================= */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  color: rgb(236, 232, 232);
}
.search-container h1 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
}
.search-container p {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 100;
}
.search {
  display: flex;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  background: var(--search-bg);
  box-shadow: 0 10px 25px var(--shadow-dark);
}
.search input {
  flex: 1;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  background: transparent;
  color: var(--text-primary);
}
.search input:focus {
  background: var(--search-focus);
  transition: 0.5s;
}
.search button {
  padding: 0 35px;

  border: none;
  cursor: pointer;

  font-weight: 900;
  color: var(--search-text);
  background: var(--search-btn);
}
.search button:hover {
  background: var(--search-btn-hover);
  color: var(--search-text-hover);
  transition: 1s;
}
.advanced-btn {
  margin-top: 10px;
}
.advanced-btn a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
.advanced-btn a:hover {
  opacity: 1;
}
.pop-up {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  animation: fadeBg 0.3s ease;
}
.pop-up-container {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 60px auto;
  padding: 35px 30px;
  border-radius: 28px;
  background: var(--popup-bg);
  border: 1px solid var(--popup-border);
  color: var(--popup-text);
  box-shadow:
    0 25px 60px rgba(0, 0, 0, 0.665),
    inset 0 1px 0 rgba(255, 255, 255, 0.375);
}
.pop-up-container h2 {
  margin-bottom: 28px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--popup-text);
}
.pop-up-container form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.pop-up-container label {
  margin-bottom: -8px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--popup-text);
}
.pop-up-container input,
.pop-up-container select {
  width: 100%;
  padding: 15px 18px;
  border-radius: 16px;
  outline: none;
  font-size: 1rem;
  color: var(--popup-text);
  background: var(--popup-input);
  border: 1px solid transparent;
  transition:
    0.3s ease,
    transform 0.2s ease;
}
.pop-up-container input::placeholder {
  color: var(--popup-placeholder);
}
select.komponen-advanced {
  cursor: pointer;
  appearance: none;
  color: var(--popup-placeholder);
}
select.komponen-advanced:valid {
  color: var(--popup-text);
}
select.komponen-advanced option {
  background: var(--popup-option-bg);
  color: var(--popup-option-text);
}
.pop-up-container input:focus,
.pop-up-container select:focus,
.pop-up-container input:hover,
.pop-up-container select:hover {
  background: var(--popup-input-hover);
  border-color: var(--popup-border);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.08);
  transform: translateY(-2px);
}
.pop-up-container button {
  margin-top: 12px;
  padding: 16px;
  border: none;
  border-radius: 18px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  background: var(--popup-btn-bg);
  color: var(--popup-btn-text);
  transition:
    0.3s ease,
    transform 0.2s ease;
}
.pop-up-container button:hover {
  transform: translateY(-3px);
  background: var(--popup-btn-text);
  color: var(--popup-btn-bg);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.close {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 1.6rem;
  font-weight: 300;
  cursor: pointer;
  color: var(--popup-text);
  transition: 0.3s ease;
}
.close:hover {
  font-weight: 500;
  color: var(--popup-text);
}

/* ================= BOOK SLIDER ================= */
.book-slider {
  position: absolute;
  bottom: 10px;
  width: 100%;
  max-width: 1000px;
  padding: 20px 0 10px 10px;
  overflow: hidden;
}
.book-track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}
.book {
  min-width: 120px;
  text-align: center;
  color: var(--text-primary);
  cursor: pointer;
  transition: 0.3s;
}
.book:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px var(--shadow-strong);
}
.book img {
  width: 110px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.book-slider::before,
.book-slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
  border-radius: 10px;
}
.book-slider::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.404), transparent);
}
.book-slider::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.404), transparent);
}


/* ================= GALERI USER ================= */
.bg-header-galeri {
  background: linear-gradient(135deg,
      var(--gradient-blue) 0%,
      var(--gradient-blue-light) 30%,
      var(--gradient-cyan) 70%,
      var(--gradient-teal) 100%);

  width: auto;
  height: 30vh;
  display: flex;
}
.galeri-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  margin: auto;
}
.user-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-left: auto;
}
.user-controls .search {
  background: #14141402;
}
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 15px;
  align-items: start;
}
.book-card {
  display: flex;
  flex-direction: column;
  background: var(--bg-card);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px var(--shadow-card);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.book-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 15px 30px var(--shadow-hover);
}
.book-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.book-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(135deg,
      var(--gradient-card-1),
      var(--gradient-card-2));
  transition: all 0.4s ease;
}
.book-info h3 {
  font-size: 16px;
  height: 50px;
  line-height: 1.5;
  overflow: hidden;
}
.book-info p {
  font-size: 14px;
  font-weight: 500;
}
.book-card:hover .book-info {
  background: linear-gradient(135deg,
      var(--gradient-card-2),
      var(--gradient-card-1));
}

/* ================= DETAIL MODAL ================= */
.detail-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.detail-content {
  background: var(--bg-card);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  padding: 30px 30px 30px 0px;
  position: relative;
  animation: popup 0.3s ease; 
  color: var(--body-bg);
}
.detail-content img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  align-self: center;
}
.detail-info {
  flex: 1;
  color: var(--text-primary);
  overflow-y: auto;
  padding-right: 10px;
}
.detail-info h2 {
  margin-bottom: 15px;
  color: var(--text-primary);
}
.detail-info p {
  margin-bottom: 12px;
  line-height: 1.6;
}
.close-detail {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: var(--text-secondary);
}
.close-detail {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  line-height: 1;
}
#detailAbstract {
  text-align: justify;
}
.detail-info::-webkit-scrollbar {
  width: 6px;
}
.detail-info::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.detail-info::-webkit-scrollbar-track {
  margin-top: 30px;
  background: transparent;
}
.close-detail {
  position: absolute;
  border: none;
  background: none;
  font-size: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.close-detail:hover {
  color: red;
  font-weight: 700;
}
.detail-left {
  align-self: center;
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detail-left img {
  width: 80%;
  height: fit-content;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.08);
}
.detail-right {
  color: var(--text-primary);
  flex: 1;
  display: flex;
  flex-direction: column;
}
.detail-right h1 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.start-scrol {
  overflow-y: auto;
}
.start-scrol::-webkit-scrollbar {
  width: 8px;
}
.start-scrol::-webkit-scrollbar-thumb {
  background: #7c7c7c;
  border-radius: 20px;
}
.detail-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  padding-right: 20px;
}
.info-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 22px;
  border-radius: 20px;
  background-color: var(--bg-card);
  border: 1px solid rgba(127, 126, 126, 0.467);
}
.info-icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  flex-shrink: 0;
}
.pink {
  background: rgba(255, 77, 141, 0.15);
  border: 2px solid #ff4d8d;
}
.purple {
  background: rgba(168, 85, 247, 0.15);
  border: 2px solid #a855f7;
}
.blue {
  background: rgba(59, 130, 246, 0.15);
  border: 2px solid #3b82f6;
}
.green {
  background: rgba(83, 206, 128, 0.322);
  border: 2px solid #22c55e;
}
.info-card span {
  color: #8c8c8c;
  font-size: 16px;
}
.info-card h3 {
  margin-top: 5px;
  font-size: 20px;
}
.abstract-box {
  margin-top: 10px;
}
.abstract-box h2 {
  color: var(--text-primary);
  margin-bottom: 20px;
  font-size: 2rem;
}
.abstract-content {
  max-height: 280px;
  padding-right: 15px;
  text-align: justify;
  line-height: 2;
  font-size: 1.15rem;
  color: var(--text-secondary);
}


/* ================= CONTACT ================= */
.bg-contact {
  background: linear-gradient(135deg,
      var(--gradient-blue) 0%,
      var(--gradient-blue-light) 30%,
      var(--gradient-cyan) 70%,
      var(--gradient-teal) 100%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-wrapper {
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: -90px;
  padding: 40px;
  flex-wrap: wrap;
}
.contact-info {
  max-width: 450px;
  color: var(--text-primary);
  animation: fadeIn 1s ease;
  color: rgba(255, 255, 255, 0.949);
}
.contact-info h1 {
  font-size: 50px;
  margin-bottom: 15px;
}
.contact-info p {
  line-height: 1.8;
  color: var(--text-secondary);
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.716);
}
.info-box {
  display: flex;
  align-items: flex-start;
  gap: 15px;

  margin-bottom: 20px;
  padding: 18px;

  border-radius: 15px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  transition: 0.3s ease;
}
.info-box:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.12);
}
.info-box span {
  font-size: 28px;
}
.info-box h3 {
  margin-bottom: 5px;
}
.contact-card {
  width: 100%;
  max-width: 450px;
  margin: 0;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.459),
    0 0 20px rgba(255, 255, 255, 0.493);
}
.contact-card input::placeholder,
.contact-card textarea::placeholder {
  color: white;
  opacity: 0.8;
}
.contact-card input{
  background: var(--overlay-dark-light);
}
.contact-card textarea {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  resize: none;
  color: var(--text-primary);
  background: var(--overlay-dark-light);
}
.contact-card button {
  background: linear-gradient(135deg,
      var(--gradient-cyan),
      var(--gradient-teal));
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.755);
}
.contact-card button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}




/* ================= FOOTER ================= */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  display: grid;
  place-content: center;
  color: wheat;
  background-color: black;
}







































































/* ================= ANIMATION ================= */
@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popupShow {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
} 
@keyframes fadeBg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* ================= RESPONSIVE ================= */

/* ================= DESKTOP BESAR ================= */
@media (max-width: 1200px) {
  .galeri-container {
    max-width: 1000px;
  }

  .hero {
    max-width: 500px;
  }

  .detail-content {
    max-width: 1000px;
    height: auto;
    min-height: 500px;
  }

  .detail-left img {
    width: 100%;
    max-width: 260px;
    height: 360px;
  }

  .detail-right h1 {
    font-size: 30px;
  }

  .abstract-content {
    font-size: 1rem;
    line-height: 1.8;
  }
}
/* ================= TABLET ================= */
@media (max-width: 1024px) {

  /* ===== INDEX ===== */
  .logo img {
    width: 160px;
  }

  .search-container h1 {
    font-size: 26px;
  }

  .search-container p {
    font-size: 14px;
  }

  .book-slider {
    max-width: 90%;
  }

  /* ===== GALERI ===== */
  .book-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
  }

  .book-card img {
    height: 250px;
  }


  .detail-content {
    flex-direction: column;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    padding: 25px;
  }

  .detail-left {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .detail-left img {
    width: 240px;
    height: 340px;
  }

  .detail-right {
    width: 100%;
  }

  .detail-right h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .detail-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-right: 0;
  }

  .info-card {
    padding: 18px;
  }

  .info-icon {
    width: 55px;
    height: 55px;
    font-size: 24px;
  }

  .abstract-box h2 {
    font-size: 1.7rem;
  }

  .abstract-content {
    max-height: none;
    font-size: 1rem;
  }
}
/* ================= TABLET KECIL ================= */
@media (max-width: 768px) {

  /* ===== NAVBAR ===== */
  .navbar {
    padding: 20px;
  }

  .logo img {
    width: 140px;
  }

  .header-content h1 {
    font-size: 22px;
  }

  /* ===== INDEX ===== */
  .hero {
    max-width: 90%;
    padding: 15px;
  }

  .search-container h1 {
    font-size: 22px;
  }

  .search-container p {
    font-size: 13px;
  }

  .search {
    width: 100%;
    max-width: 400px;
  }

  .search input {
    padding: 12px;
    font-size: 14px;
  }

  .search button {
    padding: 0 20px;
    font-size: 13px;
  }

  .pop-up-container {
    padding: 28px 22px;
    margin: 40px auto;
  }

  .pop-up-container h2 {
    font-size: 1.7rem;
  }

  /* ===== SLIDER ===== */
  .book {
    min-width: 90px;
  }

  .book img {
    width: 90px;
    height: 120px;
  }

  /* ===== GALERI HEADER ===== */
  .bg-header-galeri {
    height: auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  /* ===== SEARCH GALERI ===== */
  .user-controls {
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }

  .user-controls .search {
    width: 100%;
    max-width: 400px;
  }

  /* ===== GRID ===== */
  .book-grid {
    display: flex;
    flex-direction: column;
  }

  /* CARD */
  .book-card {
    flex-direction: row;
    width: fit-content;
    width: 100%;
  }

  /* IMAGE */
  .book-card img {
    background: linear-gradient(135deg,
        var(--gradient-card-1),
        var(--gradient-card-2));
    padding: 20px;
    width: 150px;
    height: 180px;
    object-fit: cover;
  }

  /* INFO */
  .book-info {
    gap: 0;
    width: 100%;
  }

  .contact-wrapper {
    padding: 20px;
    gap: 30px;
    margin-top: 0;
  }

  .contact-info h1 {
    font-size: 80px;
    text-align: center;
  }

  .contact-info p {
    text-align: center;
  }

  .contact-card {
    max-width: 100%;
  }

  .detail-modal {
    padding: 15px;
  }

  .detail-content {
    width: 100%;
    height: auto;
    max-height: 92vh;
    border-radius: 22px;
    padding: 20px;
    gap: 20px;
  }

  .detail-left {
    width: 100%;
  }

  .detail-left img {
    width: 200px;
    height: 300px;
  }

  .detail-right h1 {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .detail-grid {
    grid-template-columns: 1fr;
    gap: 14px;
  }

  .info-card {
    padding: 16px;
    border-radius: 16px;
  }

  .info-icon {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .info-card span {
    font-size: 14px;
  }

  .info-card h3 {
    font-size: 17px;
  }

  .abstract-box h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .abstract-content {
    font-size: 0.95rem;
    line-height: 1.8;
  }

  .close-detail {
    top: 12px;
    right: 15px;
    font-size: 30px;
  }
}
/* ================= MOBILE ================= */
@media (max-width: 480px) {

  /* ===== NAV ===== */
  .logo img {
    width: 120px;
  }

  .hamburger span {
    width: 24px;
  }

  /* ===== INDEX ===== */
  .search-container h1 {
    font-size: 18px;
  }

  .search-container p {
    font-size: 12px;
  }

  .search input {
    padding: 10px;
    font-size: 13px;
  }

  .search button {
    padding: 0 15px;
    font-size: 12px;
  }

  .pop-up-container {
    width: 350px;
    font-size: small;
  }

  .pop-up-container input,
  .pop-up-container select {
    font-size: xx-small;
  }


  /* ===== SLIDER ===== */
  .book {
    min-width: 75px;
  }

  .book img {
    width: 75px;
    height: 100px;
  }

  /* ===== GALERI ===== */
  .book-card img {
    height: 130px;
    padding: 18px;
    width: 100px;
  }

  .book-info {
    padding: 10px;
  }

  .book-info h3 {
    font-size: 15px;
  }

  .book-info p {
    font-size: 15px;
  }

  /* ===== HEADER GALERI ===== */
  .header-content h1 {
    font-size: 18px;
  }

  .detail-modal {
    padding: 10px;
  }

  .detail-content {
    padding: 16px;
    border-radius: 18px;
    gap: 18px;
  }

  .detail-left img {
    width: 160px;
    height: 240px;
    border-radius: 14px;
  }

  .detail-right h1 {
    font-size: 20px;
  }

  .info-card {
    padding: 14px;
    gap: 12px;
  }

  .info-icon {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }

  .info-card span {
    font-size: 12px;
  }

  .info-card h3 {
    font-size: 15px;
  }

  .abstract-box h2 {
    font-size: 1.3rem;
  }

  .abstract-content {
    font-size: 0.9rem;
    line-height: 1.7;
  }

  .close-detail {
    font-size: 26px;
  }
}